<html>
    <%= link_to "Home", root_path %>
    <h1>This is my Alpha Blog ABOUT Page</h1>
    <p>This is a bunch of stuff about me.</p>
    <ul>This is a list for no reason
        <li>Something here</li>
        <li>Something else here</li>
        <li>And something else here</li>
    </ul>
    
</html>