
 
    <%= link_to "About", about_path %>
    <h1>This is my Alpha Blog</h1>
    <p>This is where I would have my Alpha Blog . . . IF I HAD ONE!!!</p>
  
    <ul>This is a list for no reason
        <li>Something here</li>
        <li>Something else here</li>
        <li>And something else here</li>
    </ul>
    
     <%= image_tag ('minion.png') %>
    
