$navbar-default-bg: black;
.btn {
    color: #fff !important;
}

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing:-1px;
    font-weight: bold;
}

#logo.hover {
    color: #fff;
    text-decoration: none;
    
}

.center {
    text-align: center;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
}

.jumbotron {
    background-image :asset-url('minion.png');
    background-size:cover;
    height: 500px;
    
}

.jumbotron h1 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    
}

.article-actions {
    border-top:1px solid #eaeaea;
    padding-top:5px;
}

.description {
    margin-top: 0px;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    //border-top: 1px solid #eaeaea;
    color: #777;
}

footer small {
    float: left;
}
